DISCORD_TOKEN="_discord_bot_token_goes_here"
DISCORD_EMOJI_MAP="attack_token=emoji_id,ethan_allfire=emoji_id,rainbow=emoji_id,lavaflats=emoji_id,nicelands=emoji_id,icylands=emoji_id,useless_swamp=emoji_id,sandylands=emoji_id,cornfield=emoji_id,blue_plains=emoji_id"

